.movie-hero {
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, black 50%,rgba(0,0,0,0) 100%);
}

.movie-hero-text {
  position: absolute;
  top: 2em;
  left: 2em;
  bottom: 2em;
  right: 2em;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-hero-title {
  font-size: 1.5em;
  font-weight: bold;
}

.movie-hero-genres {
  display: block;
  font-size: 0.75em;
  opacity: 0.8;
}

.movie-hero-overview {
  margin-top: 1em;

}

.movie-hero-image {
  display: block;
  position: relative;
  width: 100%;
  height: 94.5vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.movie-hero-image:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right,black, rgba(0,0,0,0));
  opacity: .6;
}

@media only screen and (min-width: 500px) {
  .movie-hero-overview {
    width: 50%;
  }
}
